body {
  background-color: #E8E8E8;
  font-family: "Lexend", sans-serif;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 95px;
}

nav {
  display: inline-block;
  width: 100%;
  background: transparent;
}

nav .logo {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  margin-top: 53px;
}

nav .logo img {
  width: 100%;
}

nav ul {
  float: right;
  margin: 67px 0 0 0;
  padding: 0;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #6B6B6B;
  font-size: 20px;
  font-weight: 300;
}

nav ul li:not(:last-child) {
  margin-right: 39px;
}

main {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 120px);
  position: relative;
  box-sizing: border-box;
  padding: 35px 0;
}

main .background {
  position: absolute;
  text-align: center;
  inset: 35px 0;
}

main .background h1 {
  position: absolute;
  margin: 0;
  font-size: 225px;
  font-weight: 900;
  color: #CFCFCF;
  letter-spacing: -12px;
  animation: mainFadeTop 2s ease-out;
  z-index: 1;
  right: 0;
  top: 0;
}

main .background .keyhole {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

main .background .keyhole img {
  height: 100%;
  animation: mainFadeLeft 2s ease-out;
}

main .background .human {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

main .background .human img {
  height: 100%;
  animation: mainFadeRight 2s ease-out;
}

main .info-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

main .info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 4;
}

main .info h3 {
  margin: 0;
}

main .info h3:first-child {
  font-size: 64px;
  color: #19558A;
  font-weight: 900;
  width: 570px;
}

main .info h3:last-child {
  font-size: 36px;
  font-weight: 300;
  color: #6B6B6B;
  text-align: right;
  width: 350px;
}

main .buttons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  margin-top: 50px;
}

main .buttons a:first-child {
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  background-color: #193D8A;
  font-size: 36px;
  font-weight: 300;
  padding: 14px 25px 16px 25px;
  text-align: center;
}

main .buttons a:last-child {
  text-decoration: none;
  color: #19558A;
  border-radius: 20px;
  background-color: #D9D9D9;
  font-size: 36px;
  font-weight: 300;
  padding: 14px 25px 16px 25px;
}

main .buttons a:last-child i {
  margin-left: 30px;
  font-size: 30px;
}

.features {
  display: inline-block;
  width: 100%;
  height: 100vh;
  position: relative;
}

.features .align {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.features .align div {
  flex-grow: 1;
}

.features .align .right {
  text-align: right;
}

.features .item h4 {
  color: #193D8A;
  font-size: 32px;
  margin: 0;
  font-weight: 600;
  animation: featuresFadeDown 2s ease-out;
}

.features .item span {
  display: inline-block;
  color: #193D8A;
  font-size: 20px;
  font-weight: 400;
  animation: featuresFadeUp 2s ease-out;
}

.features .item .line-box {
  display: inline-block;
  height: 1px;
  width: 100%;
  margin: 18px 0;
}

.features .item .line-box .line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: #193D8A;
  vertical-align: top;
  animation: featuresLineSize 2s ease-out;
}

.features .left .item .line-box {
  text-align: right;
}

.features .right .item .line-box {
  text-align: left;
}

.features .left .item h4 {
  width: 320px;
}

.features .left .item span {
  display: inline-block;
  width: 320px;
}

.features .right .item:first-child {
  margin-bottom: 160px;
}

.features .right .item:last-child {
  width: 90%;
}

.features .background {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .background .content {
  width: 364px;
  height: 524px;
  background-color: #193D8A;
  border-radius: 182px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .background .content img {
  width: 80%;
  animation: featuresZoomIn 2s ease-out;
}

.types {
  display: inline-block;
  width: 100%;
  height: 100vh;
}

.types h2 {
  color: #19558A;
  font-size: 64px;
  font-weight: 900;
  text-align: center;
}

.types p {
  font-size: 37px;
  font-weight: 300;
  text-align: center;
  color: #6B6B6B;
}

.types ul {
  margin: 60px 0 0 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.types ul li {
  flex-basis: 44%;
  display: inline-block;
  background-color: #fff;
  width: calc(50% - 40px);
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  padding: 40px 60px 80px 60px;
}

.types ul li .badge {
  position: absolute;
  top: -26px;
  right: -20px;
  background-color: #193D8A;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  border-radius: 27px;
  padding: 8px 30px;
}

.types ul li h1 {
  color: #E8E8E8;
  font-size: 128px;
  font-weight: 900;
  margin: 0;
}

.types ul li .text {
  display: flex;
  margin-top: 20px;
  width: 100%;
  font-size: 36px;
  color: #6B6B6B;
}

.types ul li .text i {
  color: #000000;
  font-size: 50px;
  margin-top: 10px;
  margin-right: 30px;
}

.price {
  display: inline-block;
  width: 100%;
  height: 100vh;
}

.price .price-wrapper {
  display: inline-block;
  padding: 0 180px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
}

.price h2 {
  color: #193D8A;
  font-size: 128px;
  font-weight: 900;
  margin: 0;
}

.price ul {
  list-style-type: none;
  width: 100%;
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 0;
}

.price ul li {
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 58px;
  align-items: center;
}

.price ul li:first-child {
  margin-bottom: 30px;
}

.price ul li > span:first-of-type {
  width: 330px;
  font-size: 27px;
  font-weight: 700;
  color: #6B6B6B;
  padding-left: 40px;
  box-sizing: border-box;
}

.price ul li span:nth-of-type(2) {
  flex-grow: 1;
  text-align: center;
  font-size: 27px;
  font-weight: 300;
  color: #6B6B6B;
}

.price ul li .badge {
  position: absolute;
  right: 10px;
  top: -100px;
  text-align: right;
}

.price ul li .badge span {
  font-size: 24px;
  color: #6B6B6B;
  font-weight: 900;
  width: 100%;
  display: inline-block;
}

.price ul li .badge i {
  margin-right: 70px;
  color: #193D8A;
  font-size: 50px;
  margin-top: 10px;
  transform: rotate(30deg);
}

.price ul li a {
  background-color: #193D8A;
  color: #fff;
  font-size: 48px;
  padding: 25px 0;
  border-radius: 58px;
  width: 330px;
  text-align: center;
  text-decoration: none;
}

.price p {
  display: inline-block;
  width: 100%;
  color: #6B6B6B;
  text-align: center;
  font-size: 32px;
  margin-top: 100px;
}

.form {
  display: inline-block;
  width: 100%;
  background: url(assets/fingerprint-blue.png) right center no-repeat #193D8A;
  background-size: auto 110%;
  border-radius: 37px;
  text-align: center;
  box-sizing: border-box;
  padding: 100px 0;
}

.form h1 {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 300;
  width: 800px;
  margin: 0 auto;
}

.form .input {
  display: flex;
  width: 60%;
  background-color: #FFFFFF;
  margin: 60px auto 0 auto;
  padding: 10px;
  border-radius: 51px;
}

.form .input input {
  flex-grow: 1;
  font-size: 32px;
  color: #6B6B6B;
  box-sizing: border-box;
  padding-left: 30px;
  border: none;
  outline: none;
  background: transparent;
}

.form .input button {
  background-color: #193D8A;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  border: none;
  padding: 23px 60px;
  border-radius: 42px;
  cursor: pointer;
}

.clients {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 200px;
}

.clients h1 {
  font-size: 64px;
  font-weight: 300;
  color: #6B6B6B;
  text-align: center;
  margin: 0;
}

.clients ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  padding: 0;
}

.clients ul li img {
  max-width: 210px;
  max-height: 177px;
  border-radius: 14px;
}

.contact {
  display: inline-block;
  width: 100%;
  margin-bottom: 150px;
}

.contact h1 {
  color: #6B6B6B;
  font-size: 64px;
  font-weight: 300;
  margin: 0;
}

.contact ul {
  display: inline-block;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}

.contact ul li {
  display: inline-block;
  width: calc(50% - 20px);
  vertical-align: top;
  background-color: #EDEDED;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;
  font-size: 32px;
  margin: 14px 0;
}

.contact ul li:nth-child(odd) {
  margin-right: 35px;
}

.contact ul li i {
  vertical-align: top;
  color: #193D8A;
  margin: 25px 10px 0 20px;
}

.contact ul li span {
  font-weight: 300;
  padding: 20px 0;
  display: inline-block;
}

.contact .location {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.contact .location i {
  font-size: 160px;
  color: #193D8A;
}

.contact .location span {
  font-family: 'Cambay', sans-serif;
  color: #2D2D2D;
  font-weight: 400;
  font-size: 32px;
  width: 43%;
  margin-left: 30px;
  margin-top: 40px;
}

footer {
  display: flex;
  width: 100%;
  height: 146px;
  justify-content: center;
  align-items: center;
  color: #E8E8E8;
  font-size: 32px;
  font-weight: 400;
  background-color: #193D8A;
}

@keyframes mainFadeRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }  
}

@keyframes mainFadeLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }  
}

@keyframes mainFadeTop {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }  
}

@keyframes featuresZoomIn {
  0% {
    transform: scale(.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes featuresFadeDown {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }  
}

@keyframes featuresFadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }  
}

@keyframes featuresLineSize {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
